

.wrapper {
  margin: 100px auto 0;
  text-align: center;
}

.title {
  margin: 20px 0 ;
  line-height: 1;
  font-size: 30px;
  font-weight: 500;
}
.input {
  padding: 10px 20px;
  min-width: 280px;
  border-radius: 10px;
  border: 1px solid rgba(120, 120, 120, 0.8);
  background-color: lightgray;
  margin: 10px 0;
  font-size: 20px;
}


.btn {
  background-color: rgb(182, 182, 182);
  padding: 10px 30px;
  border-radius: 10px;
  display: block;
  margin: 20px auto;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}
